In [4]:
import pandas as pd
import numpy as np
from keras.models import load_model

In [5]:
df = pd.read_csv("data/nfl.csv")

# Grab dummy variables
dummy_vars = pd.get_dummies(df[["opp", "team"]])

# Add our dummy columns into the features df
df[list(dummy_vars.columns)] = dummy_vars

# Define the features
feature_df = df.drop(["result", "date", "opp", "team", "margin",
                          "points", "points_allowed", "total_points"], axis=1)

# Grab column names
columns = list(feature_df.columns)

zeros = np.zeros(shape=(1, 82))

default_df = pd.DataFrame(zeros, columns=columns)

oriented = default_df.to_dict(orient="records")

In [6]:
default_df

,third_per,third_per_allowed,TOP,first_downs,first_downs_allowed,ha,pass_yards,pass_yards_allowed,penalty_yards,plays,...,team_NYG,team_NYJ,team_OAK,team_PHI,team_PIT,team_SEA,team_SFO,team_TBB,team_TEN,team_WAS
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
data = {}

In [8]:
oriented = default_df.to_dict(orient="records")

In [9]:
oriented

[{'TOP': 0.0,
  'first_downs': 0.0,
  'first_downs_allowed': 0.0,
  'ha': 0.0,
  'opp_ARI': 0.0,
  'opp_ATL': 0.0,
  'opp_BAL': 0.0,
  'opp_BUF': 0.0,
  'opp_CAR': 0.0,
  'opp_CHI': 0.0,
  'opp_CIN': 0.0,
  'opp_CLE': 0.0,
  'opp_DAL': 0.0,
  'opp_DEN': 0.0,
  'opp_DET': 0.0,
  'opp_GBP': 0.0,
  'opp_HOU': 0.0,
  'opp_IND': 0.0,
  'opp_JAX': 0.0,
  'opp_KCC': 0.0,
  'opp_LAC': 0.0,
  'opp_LAR': 0.0,
  'opp_MIA': 0.0,
  'opp_MIN': 0.0,
  'opp_NEP': 0.0,
  'opp_NOS': 0.0,
  'opp_NYG': 0.0,
  'opp_NYJ': 0.0,
  'opp_OAK': 0.0,
  'opp_PHI': 0.0,
  'opp_PIT': 0.0,
  'opp_SEA': 0.0,
  'opp_SFO': 0.0,
  'opp_TBB': 0.0,
  'opp_TEN': 0.0,
  'opp_WAS': 0.0,
  'pass_yards': 0.0,
  'pass_yards_allowed': 0.0,
  'penalty_yards': 0.0,
  'plays': 0.0,
  'rush_yards': 0.0,
  'rush_yards_allowed': 0.0,
  'sacked': 0.0,
  'sacks': 0.0,
  'takeaways': 0.0,
  'team_ARI': 0.0,
  'team_ATL': 0.0,
  'team_BAL': 0.0,
  'team_BUF': 0.0,
  'team_CAR': 0.0,
  'team_CHI': 0.0,
  'team_CIN': 0.0,
  'team_CLE': 0.0,
  'team_DAL': 0.0,
  'team_DEN': 0.0,
  'team_DET': 0.0,
  'team_GBP': 0.0,
  'team_HOU': 0.0,
  'team_IND': 0.0,
  'team_JAX': 0.0,
  'team_KCC': 0.0,
  'team_LAC': 0.0,
  'team_LAR': 0.0,
  'team_MIA': 0.0,
  'team_MIN': 0.0,
  'team_NEP': 0.0,
  'team_NOS': 0.0,
  'team_NYG': 0.0,
  'team_NYJ': 0.0,
  'team_OAK': 0.0,
  'team_PHI': 0.0,
  'team_PIT': 0.0,
  'team_SEA': 0.0,
  'team_SFO': 0.0,
  'team_TBB': 0.0,
  'team_TEN': 0.0,
  'team_WAS': 0.0,
  'third_per': 0.0,
  'third_per_allowed': 0.0,
  'total_yards': 0.0,
  'total_yards_allowed': 0.0,
  'turnovers': 0.0}]

In [10]:
model_input_dict = {'team': 'ARI', 'opp': 'ARI', 'third_per': '5753', 'third_per_allowed': '7534', 'TOP': '453', 'first_downs': '7532', 'first_downs_allowed': '75345', 'ha': 'Home', 'pass_yards': '53786', 'pass_yards_allowed': '53786', 'penalty_yards': '453453', 'plays': '786432', 'rush_yards': '753453', 'rush_yards_allowed': '43788', 'sacked': '453', 'sacks': '789', 'takeaways': '721', 'total_yards': '7893', 'total_yards_allowed': '45645', 'turnovers': '76'}

In [11]:
columns = list(default_df.columns)

In [12]:
for column in columns:
    for key, value in model_input_dict.items():
        
        if key == column:
            
            default_df[column] = value
        
        elif f"{key}_{value}" == column:
            
            default_df[column] = 1

In [13]:
default_df

,third_per,third_per_allowed,TOP,first_downs,first_downs_allowed,ha,pass_yards,pass_yards_allowed,penalty_yards,plays,...,team_NYG,team_NYJ,team_OAK,team_PHI,team_PIT,team_SEA,team_SFO,team_TBB,team_TEN,team_WAS
0,5753,7534,453,7532,75345,Home,53786,53786,453453,786432,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
ha_value = default_df["ha"][0]
if ha_value == "Home":
    default_df["ha"] = 0
elif ha_value == "Away":
    default_df["ha"] = 1

In [15]:
default_df

,third_per,third_per_allowed,TOP,first_downs,first_downs_allowed,ha,pass_yards,pass_yards_allowed,penalty_yards,plays,...,team_NYG,team_NYJ,team_OAK,team_PHI,team_PIT,team_SEA,team_SFO,team_TBB,team_TEN,team_WAS
0,5753,7534,453,7532,75345,0,53786,53786,453453,786432,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Load model

In [16]:
deep_model = load_model("models/deep_neural_model_trained.h5")

# Predict result with user input values

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [23]:
result = deep_model.predict_classes(default_df)

In [24]:
predicted_label_column = label_encoder.inverse_transform(result)

NameError: name 'label_encoder' is not defined

In [17]:
# model_loss, model_accuracy = voice_model.evaluate(
#     X_test_scaled, y_test_categorical, verbose=2)
# print(
#     f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

NameError: name 'voice_model' is not defined

In [ ]:
new_df = default_df.copy()

# Build form

In [ ]:
features = ["Team", "Opponent", "Third", "Third Allowed", "TOP", "First Downs",
               "First Downs Allowed", "Home or Away", "Pass Yards", "Pass Yards Allowed",
               "Penalty Yards", "Plays", "Rush Yards", "Rush Yards Allowed", "Sacked", "Sacks",
               "Takeaways", "Total Yards", "Total Yards Allowed", "Turnovers"]

form_names = ["team", "opponent", "third", "third_allowed", "top", "first_downs",
                  "first_downs_allowed", "ha", "pass_yards", "pass_yards_allowed", "penalty_yards",
                  "plays", "rush_yards", "rush_yards_allowed", "sacked", "sacks", "takeaways",
                  "total_yards", "total_yards_allowed", "turnovers"]

placeholders = ["team", "opponent", "third", "third-allowed", "top", "first-downs",
                    "first-downs-allowed", "ha", "pass-yards", "pass-yards-allowed", "penalty-yards",
                    "plays", "rush-yards", "rush-yards-allowed", "sacked", "sacks", "takeaways",
                    "total-yards", "total-yards-allowed", "turnovers"]

In [ ]:
form_df = pd.DataFrame({
    "feature": features,
    "form_name": form_names,
    "placeholder": placeholders
})

In [ ]:
form_df.head()

In [ ]:
form_data = form_df.to_dict(orient="records")

In [ ]:
form_data